<div class="left-bottom">
    <p><i class="fas fa-building"></i> twoja-firma sp. z o.o. </p>
    <p><i class="fas fa-map-marker-alt"></i> ul. Wincentego Pola 2, 35-021 Rzeszów, Polska</p>
    <p> NIP: 123-456-78-90</p>
    <p> REGON: 123456789</p>
    <p> KRS: 1234567890</p>
    <a href="mailto:173656@o365.prz.edu.pl">
        <p><i class="fas fa-envelope"></i> 173656@o365.prz.edu.pl</p>
    </a>
</div>
<div class="right-middle">
    <p><i class="fas fa-user"></i> Konrad Kurpiel</p>
    <p><i class="fas fa-phone-alt"></i> +48 555 555 555</p>
    <a href="mailto:173656@stud.prz.edu.pl">
        <p><i class="fas fa-envelope"></i> 173656@stud.prz.edu.pl</p>
    </a>
</div>
<div class="right-bottom">
    <p><i class="fas fa-user"></i> Konrad Kurpiel</p>
    <p><i class="fas fa-phone-alt"></i> +48 555 555 556</p>
    <a href="mailto:173656@o365.prz.edu.pl">
        <p><i class="fas fa-envelope"></i> 173656@o365.prz.edu.pl</p>
    </a>
</div>
