@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger text-center">Ups! Coś poszło nie tak...</h1>
    <h2 class="text-danger text-center">Wystąpił problem podczas przetwarzania Twojego żądania.</h2>

    @if (Model.ShowRequestId)
    {
        <p class="text-center">
            <strong>ID Żądania:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3 class="text-center">Co możesz zrobić?</h3>
    <p class="text-center">
        Jeśli problem będzie się powtarzał, skontaktuj się z naszym zespołem wsparcia, aby uzyskać pomoc.
    </p>

    <h3 class="text-center">Pomoc techniczna</h3>
    <p class="text-center">
        Skontaktuj się z nami pod adresem e-mail: <a href="mailto:173656@stud.prz.edu.pl" class="text-primary">173656@stud.prz.edu.pl</a>.
    </p>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Wróć na stronę główną</a>
    </div>
</div>

