html {
  font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body { 
  margin-bottom: 60px;
  background-color: rgb(44, 54, 64); /* szary kolor */
  color: whitesmoke;
}

header {
    background-color: rgb(246, 241, 118); /* ¿ó³ty kolor */
    color: rgb(29, 97, 174);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 500px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 30%);
    padding: 20px;    
}
.navbar {
    background-color: transparent;
    box-shadow: none;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(29, 97, 174);
    letter-spacing: 1px;
}
.navbar a.nav-link {
    color: rgb(29, 97, 174) !important; /* niebieski kolor */
    font-weight: bold;
    margin-right: 15px;
}

.navbar a.nav-link:hover {
    color: rgb(0, 50, 150) !important;
}

.left-bottom {
    position: absolute;
    bottom: 15%;
    left: 15%;
    padding: 10px;
}

.right-middle {
    position: absolute;
    top: 40%;
    right: 15%;
    padding: 10px;
}

.right-bottom {
    position: absolute;
    bottom: 15%;
    right: 15%;
    padding: 10px;
}

p {
    margin: 5px 0;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

a {
    color: whitesmoke;
    text-decoration: none;
}
.container {
    justify-content: center; /* Wyœrodkowanie poziome */
    align-items: center; /* Wyœrodkowanie pionowe */
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.text-center {
    font-family: Verdana, sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.form-control:focus {
    border-color: rgb(29, 97, 174);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.btn {
    background-color: rgb(29, 97, 174);
    color: white; /* Kolor tekstu */
    border: 2px solid transparent; /* Przezroczysta obwódka na pocz¹tku */
    transition: background-color 0.3s, border 0.3s, color 0.3s; /* P³ynne przejœcie */
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Cieñ tekstu: 2px w prawo, 2px w dó³, rozmycie 4px, kolor czarny z przezroczystoœci¹ */
}
    /* Styl po najechaniu na przycisk */
.btn:hover {
    background-color: rgb(22, 75, 135); /* Zmiana odcienia przycisku */
    color: whitesmoke; /* Zmiana koloru tekstu na smokewhite */
    border: 2px solid rgb(22, 75, 135); /* Dodanie obwódki o tym samym kolorze */
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
label {
    margin: 5px 0;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
/*  t³o komunikatu z sukcesem wys³ania wiadomoœci   */
.alert-success {
    font-size: 16px;
    background-color: rgb(29, 97, 174);
}